<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <h1 class="head">Plan an event now!</h1>
    
    <div class="card card3 card4">
        <h2>Sign Up</h2>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit">
        </form>
    </div>
    <footer class="bottom">
        <!-- <div class="footer-nav">
            <a href="/home" class="footer-nav-link">Home</a>
            <a href="/todos" class="footer-nav-link">To-Do's</a>
            <a href="/vendor" class="footer-nav-link">Vendors</a>
            <a href="/budget" class="footer-nav-link">Cost-Tracker</a>
        </div> -->
        <div class="footer-coded-by">
            <p><i class="fas fa-code"></i> by Caleb Dye &copy; 2022</p>
        </div>
      </footer>

</body>

</html>