<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

                <!-- Nav list -->
                
                <header>
                    <div class="conainer">
                        <nav>
                            <div class="burger-menu-icon">
                                <div class="line1"></div>
                                <div class="line2"></div>
                                <div class="line3"></div>
                            </div>
                            <ul class="nav-list">
                 
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/guest" class="nav-link">Guest List</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/todos" class="nav-link">To Do List</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/vendor" class="nav-link">Vendor List</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/budget" class="nav-link">Cost Tracker</a>
                                </li>
                
                            </ul>
                        </nav>
                    </div>
                </header>
                
                <body>
                    <h1>Event Planner</h1>
                    <!-- cards -->    
                    <div class="card card2">
                        <h2><a href="/vendor">Vendor List </a></h2>
                        <ul>
                            <% vendors.forEach( el => { %>
                                    <li class='todoItem' data-id='<%=el._id%>'>
                                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.name %> <%= el.type %> </span>
                                        <span class='edit fa fa-edit'></span>
                                        <span class='del fa fa-trash'></span>
                                    </li>
                            <% }) %>    
                            </ul>
                            <form action="/vendors/createVendor" method='POST'>
                                <input type="text" placeholder="Enter Vendor Name" name='name'>
                                <input type="text" placeholder="Enter Vendor Address" name='address'>
                                <input type="text" placeholder="Enter Vendor Phone Number" name='number'>
                                <input type="text" placeholder="Enter Vendor Type" name='type'>
                                <input type="text" placeholder="Enter Vendor cost as total" name='cost'> </br>
                                <input type="submit">
                            </form>
                    </div>

                    <footer>
                        <div class="footer-nav">
                            <a href="/todos" class="footer-nav-link">Home</a>
                            <a href="/todos" class="footer-nav-link">To-Do's</a>
                            <a href="/vendor" class="footer-nav-link">Vendors</a>
                            <a href="/budget" class="footer-nav-link">Cost-Tracker</a>
                            <a href="/guest" class="footer-nav-link">Guest-list</a>
                        </div>
                        <div class="footer-coded-by">
                            <p><i class="fas fa-code"></i> by Caleb Dye &copy; 2022</p>
                            <p>Built with HTML, CSS and JavaScript</p>
                        </div>
                      </footer>

                    <script src="js/main.js"></script>

</body>
</html>